# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
coverage/

# VS Code
.vscode/

# Dependency directories
jspm_packages/

# Misc
*.log
